.header{
    width: 100vw;
    position: relative;
    height: 150px;
}

#header-container{
    height: 100%;
    max-width: 1650px;
    min-width: 915px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#header-container-inner{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}

#header-items{
    height: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#header-items p{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: #212529
}

.third-party-icon{
    height: auto;
    width: 12px;
    transform: rotate(120deg)
}

#extra-icons-menu-items{
    width: 95px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#order-bttn{
    height: 75px;
    width: 110px;
    position: relative;
}

#order-bttn p{
    width: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 23.94px;
    color: #2b3936;
}

#order-bttn-icon{
    height: 75px;
    width: 120px;
    position: absolute;
    top: 0;
    right: 0;
}

#order-third-party-icon{
    position: absolute;
    top: 30px;
    right: 20px;
}

#gift-rewards-container{
    height: auto;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 12.5px;
    color: #212529
}

.nunito-font{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.extra-styling-icons{
    height: 17px;
    width: 17px;
}

#gift-cards{
    width: 80px;
}
#rewards{
    width: 70px;
}

@media only screen and (min-width: 1160px) {
    #order-bttn{
        height: 25px;
        width: 145px;
    }
    
    #order-bttn p{
        width: 80%;
        top: 12px;
        left: 17px;
    }
    
    #order-bttn-icon{
        height: 45px;
        width: 145px;
    }
    
    #order-third-party-icon{
        position: absolute;
        top: 18px;
        right: 18px;
    }
}

@media only screen and (min-width: 920px) {
    /* put larger screen as showing here and make mobile screen stuff unavailable */
}